@charset "utf-8";
.question {
	height: 200px;
	width: 800px;
	display: block;
	margin: 15px;
	padding: 15px;
	clear: none;
	float: none;
	border-top-color: #069;
	border-right-color: #069;
	border-bottom-color: #069;
	border-left-color: #069;
}
